
@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
</head>
<h2>Hogwarts School of Witchcraft and Code</h2>
<p>To view the registry, please click this <a asp-controller="Register" asp-action="Index">link</a>.</p>

