body {
    background-color: #636464;
    color: #EAEAEA;
    font-family: 'Schoolbell', cursive;
}

h1 {
    font-size: 63px;
    margin-left: 10%;
}

h2 {
    color: #93EBDD;
}

h4 {
    color: #93EBDD;
}

