<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/MyStyle.css">
</head>
<body>
    <header><h1>Student Enrollment Site</h1></header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
